<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/CodeByZach/pace@1.0.2/themes/pink/pace-theme-bounce.css" rel="stylesheet">

